.innerDevolutions .alignRight {
  text-align: right;
}
.innerDevolutions .iconWrap a {
  padding: 7px;
  font-size: 30px;
  color: #000;
}
.innerDevolutions .iconWrap a:hover {
  text-decoration: none;
}
.innerDevolutions .btn-addMore {
  background-color: #333;
  color: #fff;
  font-size: 22px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 2px;
  border: 0;
}
.innerDevolutions .show-grid-row {
  clear: both;
  margin: 0;
  padding: 5px 0 5px 0;
}
.innerDevolutions .labelText {
  font-size: 12px;
}
.innerDevolutions #sku-error {
  color: #f00;
  position: absolute;
  top: 36px;
  width: 300px;
}
.innerDevolutions .skuSearchContainer {
  display: none;
}
.innerDevolutions .totalLabel {
  border-top: 1px solid #dedede;
  padding: 7px;
  margin: 15px 0 0 0;
}
.innerDevolutions .totalLabel p {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
.innerDevolutions .product {
  margin: 20px 0 0 0;
  width: 100%;
  -moz-box-shadow: 0 0 8px #ccc;
       box-shadow: 0 0 8px #ccc;
}
.innerDevolutions .product .tbl-total {
  text-align: right;
  font-weight: bold;
  color: #888;
  font-size: 23px;
}
.innerDevolutions .product .errorSku {
  color: #f00;
  text-align: left;
}
.innerDevolutions .product img {
  width: 100px;
  height: auto;
}
.innerDevolutions .product .item {
  width: 200px;
}
.innerDevolutions .product thead {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.innerDevolutions .product thead tr {
  font-weight: bold;
  text-align: center;
}
.innerDevolutions .product thead tr td {
  padding: 7px;
}
.innerDevolutions .product tbody tr {
  text-align: center;
}
.innerDevolutions .product tbody tr td {
  padding: 7px;
  color: #333;
}
.wrapTransference {
  -moz-box-shadow: 0 0 8px #ccc !important;
       box-shadow: 0 0 8px #ccc !important;
}
.searchResultContent,
.devolutionContent,
.successfulDevolutionContent,
.productsForDevolutionContent,
.monederoOptions,
.reinversionOptions {
  display:block;
}
.dateOperation {
  margin: 0;
}
.dateOperation span {
  font-weight: bold;
}
.mb-20 {
  margin: 0 0 20px 0;
}
.mtb-20 {
  margin: 20px 0 20px 0;
}
.wrapTransference {
  background: #fff;
  -moz-box-shadow: 2px 2px 4px 1px #b3b3b3;
       box-shadow: 2px 2px 4px 1px #b3b3b3;
  margin: 20px auto 30px;
  padding: 20px 45px 20px 45px;
}
.wrapTransference .active {
  background-color: #e10098;
  color: #fff;
}
.wrapTransference .inactive {
  background-color: #dadada;
  color: #fff;
}
.wrapTransference .checkout-step-number {
  -moz-border-radius: 50%;
       border-radius: 50%;
  display: inline-block;
  font-size: 12px;
  height: 25px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: 25px;
}
.wrapTransference .titleModule {
  display: inline-block;
}
.wrapTransference .panel {
  padding: 20px 0 20px 0;
}
.wrapTransference .requiredFields {
  margin: 0;
}
.wrapTransference .articleName,
.wrapTransference .messageText,
.wrapTransference .copyright {
  margin: 0;
}
.wrapTransference .stepOneOption,
.wrapTransference .stepTwoOption,
.wrapTransference .stepThreeOption {
  display: none;
}
.wrapTransference .checkout-step-body {
  padding: 0 0 0 40px;
  overflow: hidden;
}
.wrapTransference .icon-ayuda {
  color: #000;
  font-size: 15px;
  font-weight: bold;
}
.wrapTransference .alignHelp {
  padding: 0 0 0 17px;
}
.wrapTransference .show-grid-row {
  clear: both;
  margin: 0;
  padding: 5px 0 5px 0;
}
.wrapTransference .inactiveTitle {
  color: #dadada;
}
.wrapTransference .validationWrap {
  padding: 10px 0 0 0;
  text-align: center;
}
.wrapTransference .inputLayout {
  padding: 7px 7px 7px 18px;
}
.wrapTransference .validationCheck {
  display: none;
}
.wrapTransference .inputStick {
  padding: 10px 0 0 0;
}
.wrapTransference .inputStick span {
  color: #f00;
}
.wrapTransference .validationCheck i {
  color: #fff;
  background-color: #e10098;
  padding: 5px;
  vertical-align: middle;
  -moz-border-radius: 100%;
       border-radius: 100%;
}
.wrapTransference .iconAction .icon-descarga,
.wrapTransference .iconAction .icon-imprimir {
  font-size: 30px;
  color: #000;
  padding: 7px;
}
.alertError p {
  font-size: 12px;
}
.padding10Top {
  padding: 10px 0 0 0;
}
.padding10Bot {
  padding: 0 0 10px 0;
}
#loadModal .modal-dialog,
#payConfirm .modal-dialog,
#payCancel .modal-dialog {
  width: 27%;
  top: 100px;
}
.alignRight {
  text-align: right;
}
.alertSaved {
  display: none;
}
label.invalid,
label.error {
  color: #f00;
  font-weight: 200;
}
input.invalid,
input.error {
  border: 1px solid #f00;
}
.labelUp {
  position: absolute;
  top: -23px;
  font-weight: 700;
  left: 0px;
}
.mb-40 {
  margin-bottom: 40px;
}
.nph {
  padding-left: 0px;
  padding-right: 0px;
}
.input-border-black {
  border: 2px solid #000 !important;
  padding: 5px 5px !important;
}
.size-full {
  width: 100%;
  height: 50px;
}
.black {
  color: #000;
}
.credVer {
  margin-top: 1em;
  text-align: center;
  font-size: 1.3em;
  color: #e10098;
}
.primaryLink {
  color: #e10098;
}
.container-middle {
  padding: 1em 7em;
}
.right {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-pack: end;
   -ms-flex-pack: end;
       justify-content: flex-end;
}
#img-bolsa {
  width: 15em;
  height: 15em;
}
.nmv {
  margin: 0 auto;
}
.nmh {
  margin: auto 0;
}
.mt-20 {
  margin-top: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.table-title {
  font-size: 1.5em;
  font-family: "robotoCondensed";
}
.table-header {
  background-color: #d4d4d4;
  margin-top: 1.5em;
  min-height: 50px;
  padding: 10px;
}
.table-body {
  margin: 0 auto;
  border: 1px solid #d4d4d4;
  min-height: auto;
  padding: 3px;
}
.body-left {
  border-right: 1px solid #d4d4d4;
  min-height: 180px;
}
.label-table {
  font-size: 0.9em;
  font-weight: 200;
  color: #3c3c3c;
}
.info-body {
  font-weight: 700;
  font-size: 1.1em;
}
.label-detail {
  font-weight: 200;
}
.row-detail {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-pack: justify;
   -ms-flex-pack: justify;
       justify-content: space-between;
}
.text-right {
  display: inline;
  text-align: right;
}
.text-left {
  display: inline;
  text-align: left;
  max-width: 60%;
}
.borde-abajo {
  border-bottom: 1px solid #d4d4d4;
}
.p-5 {
  padding: 5px;
}
.mr-15 {
  margin-right: 15px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-30 {
  margin-bottom: 30px;
}
.icono-grande-inline {
  display: inline;
  font-size: 2em;
}
.btn-custom {
  height: 40px;
  width: 200px;
}
.centered {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-pack: center;
   -ms-flex-pack: center;
       justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.titleInfoDetail {
  display: block;
  font-size: 0.9em;
}
.qtyDetail {
  display: block;
  font-weight: 700;
  font-size: 1.5em;
}
.signoDetail {
  font-size: 2em;
}
.messageDetail {
  font-size: 0.8em;
}
.myslider {
  width: 80%;
  padding: 0 10px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.myslider .ui-slider-handle.ui-corner-all.ui-state-default {
  background-color: #e10098;
  top: -8px;
}
.slider {
  height: 2px !important;
}
hr {
  margin: 0;
}
.textPopUp {
  display: none;
  padding: 0 0 0 20px;
}
