.size-Smallest {
  height: 40px;
  width: 100px;
}
.size-Smallest .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Smallest .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Small {
  height: 35px;
  width: 135px;
}
.size-Small .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Small .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Medium {
  height: 40px;
  width: 180px;
}
.size-Medium .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Medium .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-Large {
  height: 50px;
  width: 200px;
}
.size-Large .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Large .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-ExtraLarge {
  height: 50px;
  width: 280px;
}
.size-ExtraLarge .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-ExtraLarge .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Big {
  height: 50px;
  width: 330px;
}
.size-Big .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Big .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Full {
  height: 50px;
  width: 100%;
}
.size-Full .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Full .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
#giftBackground {
  background: #f7f3f0 url("../images/giftBackground.png") repeat;
}
#grayBackground {
  background: #f0f0f0;
}
/* .modal:before,
.modal content '',
.modal display inline-block,
.modal height 100%,
.modal vertical-align middle,
.modal margin-right -4px,
.modal .modal-dialog,
.modal text-align left, */
.modal button {
  font-family: 'robotoCondensed';
}
.modal .row {
  margin-left: 0;
  margin-right: 0;
}
.dayTrakcerContent {
  background: #fff;
  margin-top: 20px;
}
.dayTrakcerContent h1 {
  font-family: 'robotoCondensed';
  text-transform: uppercase;
  margin-bottom: 50px;
}
.dayTrackerTable {
  border-top: 1px solid #ddd;
  margin-top: 15px;
}
.dayTrackerTable tbody tr {
  cursor: pointer;
}
.dayTrackerTable p {
  line-height: 1.5;
  margin: 0;
}
.dayTrackerTable th {
  font-size: 14px;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}
.dayTrackerTable td {
  vertical-align: middle !important;
}
.dayTrackerTable .icon-reloj {
  color: #666;
  font-size: 13px;
  margin-right: 5px;
}
.resultsRegister {
  text-align: right;
}
.resultsRegister p {
  margin: 0;
  padding-top: 20px;
}
.resultsRegister span {
  color: #666;
  font-weight: bold;
}
.searchRegister input,
.searchRegister input:focus {
  border: 1px solid #000;
  border-right: none;
  -moz-box-shadow: none;
       box-shadow: none;
  height: 40px;
}
.searchRegister span.btn {
  border: 1px solid #000;
  border-left: none;
  height: 40px;
  padding-top: 10px;
}
.searchRegister .icon-zoom {
  color: #b3b3b3;
}
