.size-Smallest {
  height: 40px;
  width: 100px;
}
.size-Smallest .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Smallest .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Small {
  height: 35px;
  width: 135px;
}
.size-Small .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Small .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Medium {
  height: 40px;
  width: 180px;
}
.size-Medium .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Medium .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-Large {
  height: 50px;
  width: 200px;
}
.size-Large .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Large .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-ExtraLarge {
  height: 50px;
  width: 280px;
}
.size-ExtraLarge .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-ExtraLarge .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Big {
  height: 50px;
  width: 330px;
}
.size-Big .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Big .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Full {
  height: 50px;
  width: 100%;
}
.size-Full .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Full .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
#giftBackground {
  background: #f7f3f0 url("../images/giftBackground.png") repeat;
}
#grayBackground {
  background: #f0f0f0;
}
/* .modal:before,
.modal content '',
.modal display inline-block,
.modal height 100%,
.modal vertical-align middle,
.modal margin-right -4px,
.modal .modal-dialog,
.modal text-align left,
.modal button {
  font-family: 'robotoCondensed';
} */
.modal .row {
  margin-left: 0;
  margin-right: 0;
}
body {
  font-family: 'robotoCondensed';
  font-size: 16px;
  font-style: normal;
}
.search {
  height: 85vh;
  width: 100%;
  margin-top: 30px;
}
.bodyEmployee {
  height: 70%;
}
.mainTitle {
  text-align: left;
}
.movementsTable p {
  margin: 0;
}
.movementsTable .status {
  text-decoration: underline;
  font-weight: bold;
}
.infoResult {
  margin: 0;
  font-size: 1em;
  color: #808080;
  padding: 0;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
   -ms-flex-direction: row;
       flex-direction: row;
  -moz-box-pack: end;
   -ms-flex-pack: end;
       justify-content: flex-end;
}
.resultMovement {
  padding-top: 20px;
}
.infoResult label {
  color: #000;
  font-size: 1em;
}
.resultMovement label {
  color: #000;
  font-size: 2em;
  padding: 10px;
}
.infoResult .numResult,
.anchor {
  color: #000;
  font-size: 1.1em !important;
}
.anchor {
  text-decoration: underline;
  -webkit-text-decoration-color: #808080;
     -moz-text-decoration-color: #808080;
          text-decoration-color: #808080;
}
.anchor label {
  text-decoration: none;
}
.anchor .txtAchor {
  color: #000;
  margin-left: 2px;
}
.resultTitle {
  margin: 0;
}
.resultTitle h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
.paginator {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
   -ms-flex-direction: row;
       flex-direction: row;
  -moz-box-pack: end;
   -ms-flex-pack: end;
       justify-content: flex-end;
}
.numberPaginator {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-pack: center;
   -ms-flex-pack: center;
       justify-content: center;
  -moz-box-align: center;
   -ms-flex-align: center;
       align-items: center;
  margin-left: 10px;
}
.listPaginator {
  list-style-type: none;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
   -ms-flex-direction: row;
       flex-direction: row;
  padding: 0;
  margin-bottom: 0;
}
.listPaginator li {
  margin: 0 2px;
}
.listPaginator li:hover {
  cursor: pointer;
}
.listResult {
  list-style-type: none;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
   -ms-flex-direction: column;
       flex-direction: column;
  padding: 0;
}
.listResult li {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-pack: justify;
   -ms-flex-pack: justify;
       justify-content: space-between;
  -moz-box-align: center;
   -ms-flex-align: center;
       align-items: center;
  width: 100%;
  -ms-flex-item-align: auto;
      align-self: auto;
  border-bottom: 1px solid #808080;
  padding: 5px 0;
}
.listResult li:first-child {
  border-top: 1px solid #808080;
  padding: 0;
}
.listResult li:nth-child(2n+3) {
  background: #f2efef;
}
.cell {
  width: 20%;
}
.twice {
  margin: 0;
}
.twice span {
  display: block;
}
.firstColumn {
  width: 20%;
}
.anchorPaginator {
  color: #808080;
}
.anchorPaginator:hover {
  cursor: pointer;
}
.anchor {
  color: #000;
  text-decoration: underline;
}
.anchor:hover {
  cursor: pointer;
}
.active {
  font-weight: bold;
  color: #000;
}
.numPages {
  color: #000;
  font-size: 1em;
}
.txtAchorPaginator {
  color: #808080 !important;
  text-transform: uppercase;
  margin-left: 5px;
}
.wrapLiverpoolLogo {
  width: auto;
}
