@font-face {
  font-family: 'robotoRegular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Regular-webfont.woff") format('woff'), url("../fonts/Roboto-Regular-webfont.ttf") format('truetype'), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'robotoCondensed';
  src: url("../fonts/RobotoCondensed-Regular-webfont.eot");
  src: url("../fonts/RobotoCondensed-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/RobotoCondensed-Regular-webfont.woff") format('woff'), url("../fonts/RobotoCondensed-Regular-webfont.ttf") format('truetype'), url("../fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
