.size-Smallest {
  height: 40px;
  width: 100px;
}
.size-Smallest .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Smallest .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Small {
  height: 35px;
  width: 135px;
}
.size-Small .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Small .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Medium {
  height: 40px;
  width: 180px;
}
.size-Medium .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Medium .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-Large {
  height: 50px;
  width: 200px;
}
.size-Large .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Large .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-ExtraLarge {
  height: 50px;
  width: 280px;
}
.size-ExtraLarge .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-ExtraLarge .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Big {
  height: 50px;
  width: 330px;
}
.size-Big .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Big .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Full {
  height: 50px;
  width: 100%;
}
.size-Full .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Full .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
#giftBackground {
  background: #f7f3f0 url("../../images/giftBackground.png") repeat;
}
#grayBackground {
  background: #f0f0f0;
}
/* .modal:before,
.modal content '',
.modal display inline-block,
.modal height 100%,
.modal vertical-align middle,
.modal margin-right -4px,
.modal .modal-dialog,
.modal text-align left, */
.modal button {
  font-family: 'robotoCondensed';
}
.modal .row {
  margin-left: 0;
  margin-right: 0;
}
@font-face {
  font-family: 'robotoRegular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Regular-webfont.woff") format('woff'), url("../fonts/Roboto-Regular-webfont.ttf") format('truetype'), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'robotoCondensed';
  src: url("../fonts/RobotoCondensed-Regular-webfont.eot");
  src: url("../fonts/RobotoCondensed-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/RobotoCondensed-Regular-webfont.woff") format('woff'), url("../fonts/RobotoCondensed-Regular-webfont.ttf") format('truetype'), url("../fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.alertSuccess {
  display: block;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #39b54a;
}
.alertSuccess i {
  padding: 5px;
  background: #39b54a;
  color: #fff;
  float: left;
}
.alertSuccess p {
  width: 83%;
  text-align: left;
  margin: 0;
  color: #39b54a;
  float: left;
  padding: 3.5px 3.5px 3.5px 10px;
}
.alertSuccess a {
  background: #39b54a;
  color: #fff;
  font-size: 4px;
  padding: 5px;
  -moz-border-radius: 100%;
       border-radius: 100%;
  float: right;
}
.alertWarning {
  display: block;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #ffd457;
}
.alertWarning i {
  padding: 5px;
  background: #ffd457;
  color: #fff;
  float: left;
}
.alertWarning p {
  width: 83%;
  text-align: left;
  margin: 0;
  color: #ffd457;
  float: left;
  padding: 3.5px 3.5px 3.5px 10px;
}
.alertWarning a {
  background: #ffd457;
  color: #fff;
  font-size: 4px;
  padding: 5px;
  -moz-border-radius: 100%;
       border-radius: 100%;
  float: right;
}
.alertError {
  display: block;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #f00;
}
.alertError i {
  padding: 5px;
  background: #f00;
  color: #fff;
  float: left;
}
.alertError p {
  width: 83%;
  text-align: left;
  margin: 0;
  color: #f00;
  float: left;
  padding: 3.5px 3.5px 3.5px 10px;
}
.alertError a {
  background: #f00;
  color: #fff;
  font-size: 4px;
  padding: 5px;
  -moz-border-radius: 100%;
       border-radius: 100%;
  float: right;
}
.checkOutSuccess {
  display: block;
  padding: 10px;
  overflow: hidden;
}
.checkOutSuccess i {
  font-weight: bold;
  padding: 5px;
  color: #39b54a;
  float: left;
}
.checkOutSuccess p {
  width: 83%;
  text-align: left;
  margin: 0;
  color: #39b54a;
  float: left;
  padding: 3.5px 3.5px 3.5px 10px;
}
.checkOutWarning {
  display: block;
  padding: 10px;
  overflow: hidden;
}
.checkOutWarning i {
  padding: 5px;
  color: #ffd457;
  float: left;
}
.checkOutWarning p {
  width: 83%;
  text-align: left;
  margin: 0;
  color: #ffd457;
  float: left;
  padding: 3.5px 3.5px 3.5px 10px;
}
.size-Smallest {
  height: 40px;
  width: 100px;
}
.size-Smallest .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Smallest .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Small {
  height: 35px;
  width: 135px;
}
.size-Small .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Small .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Medium {
  height: 40px;
  width: 180px;
}
.size-Medium .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Medium .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-Large {
  height: 50px;
  width: 200px;
}
.size-Large .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Large .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-ExtraLarge {
  height: 50px;
  width: 280px;
}
.size-ExtraLarge .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-ExtraLarge .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Big {
  height: 50px;
  width: 330px;
}
.size-Big .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Big .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Full {
  height: 50px;
  width: 100%;
}
.size-Full .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Full .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
#giftBackground {
  background: #f7f3f0 url("../../images/giftBackground.png") repeat;
}
#grayBackground {
  background: #f0f0f0;
}
/* .modal:before,
.modal content '',
.modal display inline-block,
.modal height 100%,
.modal vertical-align middle,
.modal margin-right -4px,
.modal .modal-dialog,
.modal text-align left, */
.modal button {
  font-family: 'robotoCondensed';
}
.modal .row {
  margin-left: 0;
  margin-right: 0;
}
.btnPrimary {
  background-color: #e10098;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
}
.btnSecondary {
  background-color: #666;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
}
.btnPrimarySpecial,
.btnPrimarySpecialIcon {
  background-color: transparent;
  color: #e10098;
  text-align: center;
  cursor: pointer;
  border: 1px solid #e10098;
}
.btnPrimarySpecialIcon {
  font-family: robotoRegular;
}
.btnSecondarySpecial,
.btnSecondarySpecialRegular {
  background-color: transparent;
  color: #000;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
}
.btnSecondarySpecialRegular {
  font-family: robotoRegular;
}
.btnDelete {
  background-color: #f2f2f2;
  color: #666;
  text-align: center;
  cursor: pointer;
  border: 1px solid #d8d8d8;
}
.btnPrimaryAction {
  background-color: #3b3b3e;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
}
.btnSecondaryAction {
  background-color: #81898c;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
}
.btnNextStep {
  background-color: #df0095;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
}
.btnPrimaryAdd {
  background-color: #f2f2f2;
  color: #666;
  text-align: center;
  cursor: pointer;
  border: none;
  font-family: robotoRegular;
}
.btnSecondaryAdd {
  background-color: #fff;
  color: #666;
  text-align: center;
  cursor: pointer;
  border: 1px solid #d8d8d8;
  font-family: robotoRegular;
}
.btnDownload,
.btnImport {
  background-color: #81898c;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
}
.btnSpecialEdit {
  background-color: #3b3b3e;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
}
.btnPrimaryDisable {
  background-color: #e799c2;
  cursor: auto;
}
.btnActionDisable {
  background-color: #d8d8d8;
  color: #b3b3b3;
  cursor: auto;
}
.btnPrimarySpecialDisable {
  color: #e799c2;
  border: 1px solid #e799c2;
  cursor: auto;
}
.btnSecondarySpecialDisable {
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  cursor: auto;
}
.btnDownloadMedium {
  height: 35px;
  width: 165px;
}
.btnDownloadMedium .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.btnDownloadMedium .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.btnSpecialEditSmall {
  font-size: 16px;
}
.btnSpecialEditSmall .iconRight {
  margin: 2px 3px 3px 0;
  float: right;
  font-size: 16px;
}
.btnGiftSmall {
  height: 30px;
  width: 180px;
}
.btnGiftSmall .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.btnGiftSmall .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.btnGiftModal {
  font-size: 12px;
  height: 30px;
  width: 64px;
}
.btnGiftModal .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.btnGiftModal .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Smallest {
  height: 40px;
  width: 100px;
}
.size-Smallest .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Smallest .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Small {
  height: 35px;
  width: 135px;
}
.size-Small .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Small .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Medium {
  height: 40px;
  width: 180px;
}
.size-Medium .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Medium .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-Large {
  height: 50px;
  width: 200px;
}
.size-Large .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Large .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-ExtraLarge {
  height: 50px;
  width: 280px;
}
.size-ExtraLarge .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-ExtraLarge .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Big {
  height: 50px;
  width: 330px;
}
.size-Big .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Big .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Full {
  height: 50px;
  width: 100%;
}
.size-Full .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Full .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
#giftBackground {
  background: #f7f3f0 url("../../images/giftBackground.png") repeat;
}
#grayBackground {
  background: #f0f0f0;
}
/* .modal:before,
.modal content '',
.modal display inline-block,
.modal height 100%,
.modal vertical-align middle,
.modal margin-right -4px,
.modal .modal-dialog,
.modal text-align left, */
.modal button {
  font-family: 'robotoCondensed';
}
.modal .row {
  margin-left: 0;
  margin-right: 0;
}
.checkbox {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.checkbox label span,
.checkbox label small {
  display: block;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
  color: #3b3b3e;
  font-size: 15px;
  font-family: robotoRegular;
  line-height: 1;
  cursor: pointer;
}
.checkbox label::before,
.checkbox label::after {
  content: "";
  display: inline-block;
  position: absolute;
  margin-left: -20px;
}
.checkbox label::before {
  width: 15px;
  height: 15px;
  left: 0;
  border: 1px solid #000;
  background-color: #fff;
  -moz-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.checkbox label::after {
  width: 9px;
  height: 9px;
  left: 3px;
  top: 3px;
  background-color: #000;
  -moz-transform: scale(0, 0);
       transform: scale(0, 0);
  -moz-transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: 0;
  outline-offset: 0px;
}
.checkbox input[type="checkbox"]:checked + label::after {
  -moz-transform: scale(1, 1);
       transform: scale(1, 1);
}
.checkbox input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.5;
  cursor: default;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  cursor: not-allowed;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.materialStyle {
  position: relative;
  margin-bottom: 20px;
}
.materialStyle label i {
  color: #f00;
}
.materialStyle span {
  color: #f00;
}
input.inputMaterial,
textarea.inputMaterial {
  border: 1px solid #d8d8d8;
  font-size: 15px;
  padding: 12px 0 0 5px;
  display: block;
  width: 100%;
}
input.inputMaterial:focus,
textarea.inputMaterial:focus {
  outline: none;
}
label.placeHolderMaterial {
  color: #b3b3b3;
  font-family: 'robotoRegular';
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -moz-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
input.inputMaterial:focus ~ label.placeHolderMaterial,
input.inputMaterial:valid ~ label.placeHolderMaterial,
textarea.inputMaterial:focus ~ label.placeHolderMaterial,
textarea.inputMaterial:valid ~ label.placeHolderMaterial {
  top: 1px;
  font-size: 10px;
  color: #e10098;
}
input.inputMaterial:focus ~ label.placeHolderMaterial span,
input.inputMaterial:valid ~ label.placeHolderMaterial span,
textarea.inputMaterial:focus ~ label.placeHolderMaterial span,
textarea.inputMaterial:valid ~ label.placeHolderMaterial span {
  color: #e10098;
}
.quantityGroupGift {
  margin-top: -5px;
  width: 100px;
}
.minus,
.plus {
  background: #fff;
}
.buttonSearch i {
  font-size: 20px;
}
.size-Smallest {
  height: 40px;
  width: 100px;
}
.size-Smallest .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Smallest .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Small {
  height: 35px;
  width: 135px;
}
.size-Small .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Small .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Medium {
  height: 40px;
  width: 180px;
}
.size-Medium .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Medium .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-Large {
  height: 50px;
  width: 200px;
}
.size-Large .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Large .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-ExtraLarge {
  height: 50px;
  width: 280px;
}
.size-ExtraLarge .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-ExtraLarge .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Big {
  height: 50px;
  width: 330px;
}
.size-Big .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Big .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Full {
  height: 50px;
  width: 100%;
}
.size-Full .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Full .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
#giftBackground {
  background: #f7f3f0 url("../../images/giftBackground.png") repeat;
}
#grayBackground {
  background: #f0f0f0;
}
/* .modal:before,
.modal content '',
.modal display inline-block,
.modal height 100%,
.modal vertical-align middle,
.modal margin-right -4px,
.modal .modal-dialog,
.modal text-align left, */
.modal button {
  font-family: 'robotoCondensed';
}
.modal .row {
  margin-left: 0;
  margin-right: 0;
}
.defaultLink,
.defaultAction,
.principalLink,
.darkLink,
.mediumLink,
.lightLink,
.addEditLink,
.deleteLink,
.specialLink {
  font-family: 'robotoCondensed';
  font-size: 16px;
  font-style: normal;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  padding-top: 10px;
  margin: 5px 0;
  text-align: center;
}
.defaultAction,
.addEditLink,
.deleteLink,
.specialLink {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.principalLink {
  background-color: #e10098;
}
.principalLink:hover {
  background-color: #c81685;
}
.darkLink {
  background-color: #3b3b3e;
}
.darkLink:hover {
  background-color: #2f2f2f;
}
.mediumLink {
  background-color: #666;
}
.lightLink {
  background-color: #b3b3b3;
}
.deleteLink {
  background-color: #f2f2f2;
  border-color: #d8d8d8;
}
.specialLink {
  color: #e10098;
  border-color: #e10098;
}
.size-Smallest {
  height: 40px;
  width: 100px;
}
.size-Smallest .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Smallest .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Small {
  height: 35px;
  width: 135px;
}
.size-Small .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Small .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Medium {
  height: 40px;
  width: 180px;
}
.size-Medium .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Medium .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-Large {
  height: 50px;
  width: 200px;
}
.size-Large .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Large .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-ExtraLarge {
  height: 50px;
  width: 280px;
}
.size-ExtraLarge .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-ExtraLarge .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Big {
  height: 50px;
  width: 330px;
}
.size-Big .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Big .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Full {
  height: 50px;
  width: 100%;
}
.size-Full .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Full .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
#giftBackground {
  background: #f7f3f0 url("../../images/giftBackground.png") repeat;
}
#grayBackground {
  background: #f0f0f0;
}
/* .modal:before,
.modal content '',
.modal display inline-block,
.modal height 100%,
.modal vertical-align middle,
.modal margin-right -4px,
.modal .modal-dialog,
.modal text-align left, */
.modal button {
  font-family: 'robotoCondensed';
}
.modal .row {
  margin-left: 0;
  margin-right: 0;
}
.radio {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label span,
.radio label small {
  display: block;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
  color: #3b3b3e;
  font-size: 15px;
  font-family: robotoRegular;
  line-height: 1;
  cursor: pointer;
}
.radio label::before,
.radio label::after {
  content: "";
  display: inline-block;
  position: absolute;
  margin-left: -20px;
  -moz-border-radius: 50%;
       border-radius: 50%;
}
.radio label::before {
  width: 15px;
  height: 15px;
  left: 0;
  border: 1px solid #b3b3b3;
  background-color: #fff;
  -moz-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  width: 9px;
  height: 9px;
  left: 3px;
  top: 3px;
  background-color: #e10098;
  -moz-transform: scale(0, 0);
       transform: scale(0, 0);
  -moz-transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.radio input[type="radio"]:focus + label::before {
  outline: 0;
  outline-offset: 0px;
}
.radio input[type="radio"]:checked + label::before {
  border: 1px solid #e10098;
}
.radio input[type="radio"]:checked + label::after {
  -moz-transform: scale(1, 1);
       transform: scale(1, 1);
}
.radio input[type="radio"]:disabled {
  cursor: not-allowed;
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
  cursor: default;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.size-Smallest {
  height: 40px;
  width: 100px;
}
.size-Smallest .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Smallest .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Small {
  height: 35px;
  width: 135px;
}
.size-Small .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Small .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Medium {
  height: 40px;
  width: 180px;
}
.size-Medium .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Medium .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-Large {
  height: 50px;
  width: 200px;
}
.size-Large .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Large .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-ExtraLarge {
  height: 50px;
  width: 280px;
}
.size-ExtraLarge .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-ExtraLarge .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Big {
  height: 50px;
  width: 330px;
}
.size-Big .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Big .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Full {
  height: 50px;
  width: 100%;
}
.size-Full .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Full .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
#giftBackground {
  background: #f7f3f0 url("../../images/giftBackground.png") repeat;
}
#grayBackground {
  background: #f0f0f0;
}
/* .modal:before,
.modal content '',
.modal display inline-block,
.modal height 100%,
.modal vertical-align middle,
.modal margin-right -4px,
.modal .modal-dialog,
.modal text-align left, */
.modal button {
  font-family: 'robotoCondensed';
}
.modal .row {
  margin-left: 0;
  margin-right: 0;
}
.cSelect {
  position: relative;
  width: 100%;
  height: 40px;
  border: solid 1px #d8d8d8;
  margin-bottom: 20px;
  background: #fff;
}
.cSelect.searchGift {
  border: solid 1px #e10098;
}
.cSelect.searchGift select {
  font-size: 18px;
  border-bottom: solid 1px #e10098;
  background-color: #fff;
}
.cSelect.searchGift select option {
  font-size: 18px;
}
.cSelect.searchGift i,
.cSelect.searchGift label {
  color: #e10098;
}
.cSelect.filters > i,
.cSelect.filters > label {
  background: #d7d7d7 !important;
  font-size: 14px;
}
.cSelect select {
  font-size: 15px;
  color: #3b3b3e;
  height: 40px;
  width: 100%;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-left: 15px;
  margin-bottom: 20px;
  border-bottom: solid 1px #d8d8d8;
  background-color: #fff;
}
.cSelect select:focus {
  outline: none;
}
.cSelect select option {
  font-size: 15px;
  color: #b3b3b3;
}
.cSelect select option:focus {
  outline: none;
}
.cSelect i {
  pointer-events: none;
  font-size: 14px !important;
}
.cSelect p {
  font-size: 15px;
  padding-left: 4px;
  font-family: 'robotoRegular';
  padding-top: 8px;
}
.cSelect ul {
  position: absolute;
  top: 40px;
  width: 100%;
  border: solid 1px #d7d7d7;
  list-style-type: none;
  margin: 0;
  padding: 0 15px;
  background: #fff;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: none;
  z-index: 9999;
  font-family: 'robotoRegular';
}
.cSelect ul li {
  font-size: 15px;
  padding: 2px 0px 2px;
  color: #81898b;
  border-bottom: none;
  font-family: 'robotoRegular';
}
.cSelect > input[type=checkbox] {
  display: none;
}
.cSelect > input[type=checkbox]:checked ~ .cDropDown {
  display: block;
}
.cSelect > i,
.cSelect > label {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 39px;
  text-align: center;
  background: #fff;
  font-size: 14px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 15px 0px 15px 5px;
  color: #666;
}
.cSelect .forMedia li {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
   -ms-flex-flow: row wrap;
       flex-flow: row wrap;
  -moz-box-align: center;
   -ms-flex-align: center;
       align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #ededef;
  color: #666;
  border-bottom: solid 1px #666;
  font-size: 15px;
}
.cSelect .forMedia li .check {
  padding-left: 5px;
  width: 25px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.cSelect .forMedia li .img {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.cSelect .forMedia li .img img {
  width: 100%;
}
.cSelect .forMedia li .text {
  padding-left: 5px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 65%;
}
.cSelect.required:before {
  content: '*';
  color: #f00;
  font-size: 16px;
  position: absolute;
  top: 11px;
  left: 5px;
}
.size-Smallest {
  height: 40px;
  width: 100px;
}
.size-Smallest .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Smallest .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Small {
  height: 35px;
  width: 135px;
}
.size-Small .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Small .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Medium {
  height: 40px;
  width: 180px;
}
.size-Medium .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Medium .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-Large {
  height: 50px;
  width: 200px;
}
.size-Large .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Large .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-ExtraLarge {
  height: 50px;
  width: 280px;
}
.size-ExtraLarge .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-ExtraLarge .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Big {
  height: 50px;
  width: 330px;
}
.size-Big .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Big .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Full {
  height: 50px;
  width: 100%;
}
.size-Full .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Full .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
#giftBackground {
  background: #f7f3f0 url("../../images/giftBackground.png") repeat;
}
#grayBackground {
  background: #f0f0f0;
}
/* .modal:before,
.modal content '',
.modal display inline-block,
.modal height 100%,
.modal vertical-align middle,
.modal margin-right -4px,
.modal .modal-dialog,
.modal text-align left, */
.modal button {
  font-family: 'robotoCondensed';
}
.modal .row {
  margin-left: 0;
  margin-right: 0;
}
.cTable {
  width: 100%;
}
.cTable th {
  border-bottom: solid 1px #f3f3f3;
  border-top: solid 1px #f3f3f3;
  font-size: 12px;
  padding: 3px 0px;
}
.cTable tr td {
  padding: 10px 5px;
}
.cTable.bottomLine tbody tr td {
  border-bottom: solid 1px #f3f3f3;
}
.cTable th,
td {
  font-family: 'robotoRegular';
  font-size: 14px;
  color: #070707;
}
.size-Smallest {
  height: 40px;
  width: 100px;
}
.size-Smallest .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Smallest .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Small {
  height: 35px;
  width: 135px;
}
.size-Small .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Small .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Medium {
  height: 40px;
  width: 180px;
}
.size-Medium .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Medium .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-Large {
  height: 50px;
  width: 200px;
}
.size-Large .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Large .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-ExtraLarge {
  height: 50px;
  width: 280px;
}
.size-ExtraLarge .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-ExtraLarge .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Big {
  height: 50px;
  width: 330px;
}
.size-Big .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Big .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Full {
  height: 50px;
  width: 100%;
}
.size-Full .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Full .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
#giftBackground {
  background: #f7f3f0 url("../../images/giftBackground.png") repeat;
}
#grayBackground {
  background: #f0f0f0;
}
/* .modal:before,
.modal content '',
.modal display inline-block,
.modal height 100%,
.modal vertical-align middle,
.modal margin-right -4px,
.modal .modal-dialog,
.modal text-align left, */
.modal button {
  font-family: 'robotoCondensed';
}
.modal .row {
  margin-left: 0;
  margin-right: 0;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?wzcl1g");
  src: url("../fonts/icomoon.eot?wzcl1g#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?wzcl1g") format('truetype'), url("../fonts/icomoon.woff?wzcl1g") format('woff'), url("../fonts/icomoon.svg?wzcl1g#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-descarga:before {
  content: "\e900";
}
.icon-imprimir:before {
  content: "\e901";
}
.icon-compartir:before {
  content: "\e902";
}
.icon-correo:before {
  content: "\e903";
}
.icon-zoom:before {
  content: "\e904";
}
.icon-flecha_gruesa_derecha:before {
  content: "\e905";
}
.icon-flecha_gruesa_izq:before {
  content: "\e906";
}
.icon-flecha_gruesa_arriba:before {
  content: "\e907";
}
.icon-flecha_gruesa_abajo:before {
  content: "\e908";
}
.icon-flecha_lightsvg_derecha:before {
  content: "\e909";
}
.icon-flecha_light_izq:before {
  content: "\e90a";
}
.icon-flechas_doble_derecha:before {
  content: "\e90b";
}
.icon-flechas_doble_izquierda:before {
  content: "\e90c";
}
.icon-ayuda:before {
  content: "\e90d";
}
.icon-radio_button_select:before {
  content: "\e90e";
}
.icon-radio_button_no_select:before {
  content: "\e90f";
}
.icon-cerrar:before {
  content: "\e910";
}
.icon-estrella_solida:before {
  content: "\e911";
}
.icon-estrella_linea:before {
  content: "\e912";
}
.icon-social-facebook:before {
  content: "\e913";
}
.icon-social-google:before {
  content: "\e914";
}
.icon-social-instagram:before {
  content: "\e915";
}
.icon-social-pinterest:before {
  content: "\e916";
}
.icon-social-snapchat:before {
  content: "\e917";
}
.icon-social-twitter:before {
  content: "\e918";
}
.icon-lista_de_tareas_cerrar:before {
  content: "\e919";
}
.icon-camara:before {
  content: "\e91a";
}
.icon-regalo:before {
  content: "\e91b";
}
.icon-flecha_filtros_arriba:before {
  content: "\e91c";
}
.icon-flecha_filtros_abajo:before {
  content: "\e91d";
}
.icon-notificaciones:before {
  content: "\e91e";
}
.icon-tarjeta:before {
  content: "\e91f";
}
.icon-tache:before {
  content: "\e920";
}
.icon-editar:before {
  content: "\e921";
}
.icon-check:before {
  content: "\e922";
}
.icon-tache2:before {
  content: "\e923";
}
.icon-menu_mobile:before {
  content: "\e924";
}
.icon-iconos-perfil:before {
  content: "\e925";
}
.icon-reticula_cuatro:before {
  content: "\e926";
}
.icon-reticula_doce:before {
  content: "\e927";
}
.icon-avatar_boda:before {
  content: "\e928";
}
.icon-avatar_uno:before {
  content: "\e929";
}
.icon-basura:before {
  content: "\e92a";
}
.icon-calendario1:before {
  content: "\e92b";
}
.icon-calendario2:before {
  content: "\e92c";
}
.icon-flecha_invitado:before {
  content: "\e92d";
}
.icon-estado_de_mensaje:before {
  content: "\e92e";
}
.icon-estado_de_mensaje_aprobado:before {
  content: "\e92f";
}
.icon-ojo_visualizacion:before {
  content: "\e930";
}
.icon-mobile:before {
  content: "\e931";
}
.icon-desktop:before {
  content: "\e932";
}
.icon-datos_de_mi_evento:before {
  content: "\e933";
}
.icon-diseno:before {
  content: "\e934";
}
.icon-secciones:before {
  content: "\e935";
}
.icon-logo_liver:before {
  content: "\e936";
}
.icon-candado:before {
  content: "\e937";
}
.icon-corazon_linea:before {
  content: "\e938";
}
.icon-corazon_relleno:before {
  content: "\e939";
}
.icon-menu_puntos:before {
  content: "\e93a";
}
.icon-destacar:before {
  content: "\e93b";
}
.icon-sin_destacar:before {
  content: "\e93c";
}
.icon-estrella_negativo:before {
  content: "\e93d";
}
.icon-invitados_bebe:before {
  content: "\e93e";
}
.icon-invitados_hombre:before {
  content: "\e93f";
}
.icon-invitados_mujer:before {
  content: "\e940";
}
.icon-reloj:before {
  content: "\e941";
}
.icon-mas:before {
  content: "\e942";
}
.icon-menos:before {
  content: "\e943";
}
.icon-agregar:before {
  content: "\e944";
}
.icon-insertar_vinculo:before {
  content: "\e945";
}
.icon-listas:before {
  content: "\e946";
}
.icon-mi_cuenta:before {
  content: "\e947";
}
.icon-bandera_bebe:before {
  content: "\e948";
}
.icon-bandera_boda:before {
  content: "\e949";
}
.icon-bandera_regalo_electronico:before {
  content: "\e94a";
}
.icon-bandera_regalo_fisico:before {
  content: "\e94b";
}
.icon-importar:before {
  content: "\e94c";
}
.icon-flecha_light_arriba:before {
  content: "\e94d";
}
.icon-flecha_light_abajo:before {
  content: "\e94e";
}
.icon-alerta_amarilla:before {
  content: "\e94f";
}
.icon-caret_down:before {
  content: "\e950";
}
.icon-caret_up:before {
  content: "\e951";
}
.icon-caret_right:before {
  content: "\e952";
}
.icon-caret_left:before {
  content: "\e953";
}
.icon-bolsita:before {
  content: "\e954";
}
.icon-leido:before {
  content: "\e955";
}
.icon-imagen_experiencia:before {
  content: "\e956";
}
.arrowLeft {
  -moz-transform: rotate(90deg);
       transform: rotate(90deg);
}
.arrowRight {
  -moz-transform: rotate(-90deg);
       transform: rotate(-90deg);
}
.titleSection {
  color: #3b3b3e;
  font-family: 'robotoCondensed';
  font-size: 28px;
  font-style: normal;
  margin: 10px 0;
}
.subtitleSection {
  color: #3b3b3e;
  font-family: 'robotoCondensed';
  font-size: 24px;
  font-style: normal;
  margin: 10px 0;
}
.titleModule {
  color: #3b3b3e;
  font-family: 'robotoCondensed';
  font-size: 20px;
  font-style: normal;
  margin: 10px 0;
}
.subtitleModule {
  color: #3b3b3e;
  font-family: 'robotoRegular';
  font-size: 15px;
  font-style: bold;
  margin: 10px 0;
}
.mainText {
  color: #3b3b3e;
  font-family: 'robotoRegular';
  font-size: 15px;
  font-style: normal;
  margin: 10px 0;
}
.mainTextSecond {
  color: #666;
  font-family: 'robotoRegular';
  font-size: 15px;
  font-style: normal;
  margin: 10px 0;
}
.informativeText {
  color: #3b3b3e;
  font-family: 'robotoRegular';
  font-size: 14px;
  font-style: normal;
  margin: 10px 0;
}
.informativeTextSecond {
  color: #666;
  font-family: 'robotoRegular';
  font-size: 14px;
  font-style: normal;
  margin: 10px 0;
}
.descriptiveText {
  color: #3b3b3e;
  font-family: 'robotoRegular';
  font-size: 13px;
  font-style: normal;
  margin: 10px 0;
}
.descriptiveTextSecond {
  color: #666;
  font-family: 'robotoRegular';
  font-size: 13px;
  font-style: normal;
  margin: 10px 0;
}
.descriptiveTextThird {
  color: #3b3b3e;
  font-family: 'robotoRegular';
  font-size: 12px;
  font-style: normal;
  margin: 10px 0;
}
.requiredFields {
  color: #f00;
  font-family: 'robotoRegular';
  font-size: 12px;
  font-style: normal;
  margin: 10px 0;
}
.primaryColorLink {
  color: #e10098;
  cursor: pointer;
  display: block;
  font-family: 'robotoRegular';
  font-size: 15px;
  font-style: normal;
  margin: 10px 0;
}
.darkColorLink {
  color: #3b3b3e;
  cursor: pointer;
  display: block;
  font-family: 'robotoRegular';
  font-size: 14px;
  font-style: normal;
  margin: 10px 0;
}
.darkColorLink:hover {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
.copyright {
  color: #666;
  font-family: 'robotoRegular';
  font-size: 12px;
  font-style: normal;
  margin: 10px 0;
}
.tags {
  color: #666;
  font-family: 'robotoRegular';
  font-size: 11px;
  font-style: normal;
  margin: 10px 0;
}
.tabsText {
  color: #81898c;
  font-family: 'robotoRegular';
  font-size: 20px;
  font-style: bold;
  margin: 10px 0;
}
.quantityAndGuest {
  color: #3b3b3e;
  font-family: 'robotoRegular';
  font-size: 16px;
  font-style: normal;
  margin: 10px 0;
}
.succesColorText {
  color: #0abd3e;
  font-family: 'robotoRegular';
  font-size: 13px;
  font-style: normal;
  margin: 10px 0;
}
.messageText {
  color: #666;
  font-family: 'robotoRegular';
  font-size: 11px;
  font-style: normal;
  margin: 10px 0;
}
.liverpoolCategory {
  color: #666;
  font-family: 'robotoRegular';
  font-size: 12px;
  font-style: normal;
  margin: 10px 0;
}
.liverpoolCategorySecond {
  color: #000;
  font-family: 'robotoRegular';
  font-size: 12px;
  font-style: normal;
  margin: 10px 0;
}
.articleName {
  color: #000;
  font-family: 'robotoRegular';
  font-size: 16px;
  font-style: normal;
  margin: 10px 0;
}
.mobile {
  display: none;
}
.desktop {
  display: inline-block;
}
.main {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0 20px 0;
  -moz-box-shadow: 0 0 8px #ccc;
       box-shadow: 0 0 8px #ccc;
  overflow: hidden;
  height: auto;
}
