.size-Smallest {
  height: 40px;
  width: 100px;
}
.size-Smallest .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Smallest .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Small {
  height: 35px;
  width: 135px;
}
.size-Small .iconRight {
  margin: 2px 3px 0 0;
  float: right;
  font-size: 13px;
}
.size-Small .iconLeft {
  margin: 2px 0 0 3px;
  float: left;
  font-size: 13px;
}
.size-Medium {
  height: 40px;
  width: 180px;
}
.size-Medium .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Medium .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-Large {
  height: 50px;
  width: 200px;
}
.size-Large .iconRight {
  margin: 2px 10px 0 0;
  float: right;
  font-size: 13px;
}
.size-Large .iconLeft {
  margin: 2px 0 0 10px;
  float: left;
  font-size: 13px;
}
.size-ExtraLarge {
  height: 50px;
  width: 280px;
}
.size-ExtraLarge .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-ExtraLarge .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Big {
  height: 50px;
  width: 330px;
}
.size-Big .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Big .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
.size-Full {
  height: 50px;
  width: 100%;
}
.size-Full .iconRight {
  margin: 2px 20px 0 0;
  float: right;
  font-size: 13px;
}
.size-Full .iconLeft {
  margin: 2px 0 0 20px;
  float: left;
  font-size: 13px;
}
#giftBackground {
  background: #f7f3f0 url("../../images/giftBackground.png") repeat;
}
#grayBackground {
  background: #f0f0f0;
}
/* .modal:before,
.modal content '',
.modal display inline-block,
.modal height 100%,
.modal vertical-align middle,
.modal margin-right -4px,
.modal .modal-dialog,
.modal text-align left, */
.modal button {
  font-family: 'robotoCondensed';
}
.modal .row {
  margin-left: 0;
  margin-right: 0;
}
.radio {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label span,
.radio label small {
  display: block;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
  color: #3b3b3e;
  font-size: 15px;
  font-family: robotoRegular;
  line-height: 1;
  cursor: pointer;
}
.radio label::before,
.radio label::after {
  content: "";
  display: inline-block;
  position: absolute;
  margin-left: -20px;
  -moz-border-radius: 50%;
       border-radius: 50%;
}
.radio label::before {
  width: 15px;
  height: 15px;
  left: 0;
  border: 1px solid #b3b3b3;
  background-color: #fff;
  -moz-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  width: 9px;
  height: 9px;
  left: 3px;
  top: 3px;
  background-color: #e10098;
  -moz-transform: scale(0, 0);
       transform: scale(0, 0);
  -moz-transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.radio input[type="radio"]:focus + label::before {
  outline: 0;
  outline-offset: 0px;
}
.radio input[type="radio"]:checked + label::before {
  border: 1px solid #e10098;
}
.radio input[type="radio"]:checked + label::after {
  -moz-transform: scale(1, 1);
       transform: scale(1, 1);
}
.radio input[type="radio"]:disabled {
  cursor: not-allowed;
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
  cursor: default;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
